@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);



body {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1D2026;
  gap: 60px;
}

.diagram-wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Roboto;
  color: #28BEB2;
}

button {
  align-self: center;
  width: 224px;
  height: 48px;

  background: #20958B;

  box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.23);

  border: none;
  border-radius: 7px;

  font-size: 24px;
  font-family: Roboto;
  font-style: normal;

  color: #EAEAEA;
  text-shadow: 4px 7px 15px rgba(0, 0, 0, 0.29);

  transition: 0.3s;
}

button:hover {
  background: #327e6b;
}

.diagram-container {
  padding-left: 17%;
  max-width: 1440px;
  min-height: 505px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}



.diagram-item {
  position: relative;
  width: 340px;
  height: 100px;
  background: #1D2026;
  /* голубой текст */
  border: 3px solid #28BEB2;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  text-align: center;



  color: #28BEB2;
}

.diagram-item-first {
  border-color: #90c0bc;
}

.diagram-item-last {
  border-color: #90c0bc;
}

.diagram-item:nth-child(1)::after {
  position: absolute;
  content: url(horizontal-arrow.svg);
  left: 100%;
}

.diagram-item:nth-child(2)::after {
  position: absolute;
  content: url(horizontal-arrow.svg);
  left: 100%;
}

.diagram-item:nth-child(3)::after {
  position: absolute;
  content: url(vertical-arrow.svg);
  top: 100%;
}

.diagram-item:nth-child(4)::before {
  position: absolute;
  content: url(horizontal-arrow.svg);
  transform: scale(-1, 1);
  right: 100%;
}

.diagram-item:nth-child(5)::before {
  position: absolute;
  content: url(horizontal-arrow.svg);
  transform: scale(-1, 1);
  right: 100%;
}

.diagram-item:nth-child(6)::after {
  position: absolute;
  content: url(vertical-arrow.svg);
  top: 100%;
}

.diagram-item:nth-child(7)::after {
  position: absolute;
  content: url(horizontal-arrow.svg);
  left: 100%;
}


.diagram-item:nth-child(1) {
  order: 1;
}

.diagram-item:nth-child(2) {
  order: 2;
}

.diagram-item:nth-child(3) {
  order: 3;
}

.diagram-item:nth-child(4) {
  order: 6;
}

.diagram-item:nth-child(5) {
  order: 5;
}

.diagram-item:nth-child(6) {
  order: 4;
}

.diagram-item:nth-child(7) {
  order: 7;
}

.diagram-item:nth-child(8) {
  order: 8;
}

@media (min-width: 929px) and (max-width: 1442px) {

  .diagram-item:nth-child(1)::after {
    position: absolute;
    content: url(horizontal-arrow.svg);
    left: 100%;
  }

  .diagram-item:nth-child(2)::after {
    position: absolute;
    content: url(vertical-arrow.svg);
    top: 100%;
    left: 45%;
  }

  .diagram-item:nth-child(3)::after {
    position: absolute;
    content: url(horizontal-arrow.svg);
    transform: scale(-1, 1);
    top: 30%;
    right: 100%;
  }

  .diagram-item:nth-child(4)::before {
    position: absolute;
    content: url(vertical-arrow.svg);
    left: 55%;
    top: 100%;
  }

  .diagram-item:nth-child(5)::before {
    position: absolute;
    content: url(horizontal-arrow.svg);
    transform: scale(1, -1);
    top: 20%;
    left: 100%;
  }


  .diagram-item:nth-child(6)::after {
    position: absolute;
    content: url(vertical-arrow.svg);
    top: 100%;
  }

  .diagram-item:nth-child(7)::after {
    position: absolute;
    content: url(horizontal-arrow.svg);
    transform: scale(-1, 1);
    left: -22%;
  }


  .diagram-item:nth-child(1) {
    order: 1;
  }

  .diagram-item:nth-child(2) {
    order: 2;
  }

  .diagram-item:nth-child(3) {
    order: 4;
  }

  .diagram-item:nth-child(4) {
    order: 3;
  }

  .diagram-item:nth-child(5) {
    order: 5;
  }

  .diagram-item:nth-child(6) {
    order: 6;
  }

  .diagram-item:nth-child(7) {
    order: 8;
  }

  .diagram-item:nth-child(8) {
    order: 7;
  }
}

@media (max-width: 928px) {

  .diagram-item:nth-child(odd)::after {
    content: none;
  }

  .diagram-item:nth-child(even)::after {
    content: none;
  }

  .diagram-item:nth-child(odd)::before {
    content: none;
  }

  .diagram-item:nth-child(even)::before {
    content: none;
  }

  .diagram-item:nth-child(even)::after {
    position: absolute;
    content: url(vertical-arrow.svg);
    left: 45%;
    top: 100%;
  }

  .diagram-item:nth-child(odd)::after {
    position: absolute;
    content: url(vertical-arrow.svg);
    left: 45%;
    top: 100%;
  }

  .diagram-item:last-child::after {
    content: none;
  }

  .diagram-item:nth-child(1) {
    order: 1;
  }

  .diagram-item:nth-child(2) {
    order: 2;
  }

  .diagram-item:nth-child(3) {
    order: 3;
  }

  .diagram-item:nth-child(4) {
    order: 4;
  }

  .diagram-item:nth-child(5) {
    order: 5;
  }

  .diagram-item:nth-child(6) {
    order: 6;
  }

  .diagram-item:nth-child(7) {
    order: 7;
  }

  .diagram-item:nth-child(8) {
    order: 8;
  }
}